body{
    --dark-color: #000;
    background-color: var(--dark-color);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}
body.fade-in {
  opacity: 1;
}
body.fade-out {
  opacity: 0;
}
.night {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    filter: blur(0.1vmin);
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), linear-gradient(90deg, rgb(0, 255, 250), rgb(240, 240, 240));
}
.heart-container{
    position: relative;
}
.heart-text{
    font-size: bold;
    font-weight: 1000;
    color: rgb(131, 33, 26);
    position: absolute;
    top: 8rem;
    text-align: center;
    width: 100%;
}
.greetings{
    font-size: 20px;
    font-weight: bold;
    color: rgb(226, 24, 24);
    position: absolute;
    top: 8rem;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px rgba(138, 5, 5, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
}   
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg)
    }
}

.greetings span {
    display: inline-block;
    animation: flip 5s infinite;
    animation-delay: calc(0.1s * var(--index));
}
.heart{
    height: 100px;
    width: 100px;                             
    background-color: rgb(255, 0, 0);
    transform: rotate(-45deg);
    box-shadow: -10px 10px 120px rgb(229, 90, 90);            
    animation: heart 0.6s linear infinite;
    cursor: pointer;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    100%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 120px rgb(212, 50, 50);
}
.heart::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgb(255, 0, 0);
    right: -50px;
    border-radius: 50px;
    box-shadow: -10px 10px 120px rgb(212, 50, 50);
}

